<!DOCTYPE HTML>
<html>

	<head>
	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="content-type" content="text/html">
		
		<title>Cloud</title>
		
		<link href="../Styles/Explorer.css" rel="stylesheet">
		
		<script src="../Libraries/jQuery.js"></script>
		<script src="../Libraries/Unknown/String Format.js"></script>
		<script src="../Libraries/Unknown/md5.js"></script>
		
		<script src="../Classes/Explorer.js"></script>
	
	</head>
	
	<body class="body">
	
		<div id="body-tools" class="body-tools">
		
			<div class="body-tools-buttons">
			
				<button id="body-tools-organize" class="body-tools-buttons-button body-tools-buttons-button-putOnLeft">Organizar</button>
				<button id="body-tools-shareDirectory" class="body-tools-buttons-button body-tools-buttons-button-putOnLeft">Compartilhar diretório</button>
				<button id="body-tools-newLibrary" class="body-tools-buttons-button body-tools-buttons-button-putOnLeft">Nova biblioteca</button>
				<button id="body-tools-newFolder" class="body-tools-buttons-button body-tools-buttons-button-putOnLeft">Nova pasta</button>
				
				<button id="body-tools-user" class="body-tools-buttons-button body-tools-buttons-button-putOnRight">Gabriel Henrique</button>
				<button id="body-tools-shareDirectory" class="body-tools-buttons-button body-tools-buttons-button-putOnRight">Filtros</button>
				<button id="body-tools-organize" class="body-tools-buttons-button body-tools-buttons-button body-tools-buttons-button-putOnRight">Modo de exibição</button>
				<button id="body-tools-newLibrary" class="body-tools-buttons-button body-tools-buttons-button-putOnRight">Ajuda</button>
			
			</div>
		
		</div>
		
		<div id="body-aside" class="body-aside">
		
			<div id="body-aside-hierarchy" class="body-aside-hierarchy"></div>
		
			<div id="body-aside-resizer" class="body-aside-resizer"></div>
		
		</div>
		
	</body>

</html>























